{% extends "main.html" %}

{% block content %}
{% if adv %}
	<div class = "container py-5">


		<!--Written Content -->

	<div class="d-flex justify-content-center">
		<h1>{{adv.name}}</h1>
	</div>
	<hr style='border: 3px solid black'>
	<!-- buttons-->
	<div class = 'text-center'>
		<a class="btn btn-dark btn-outline-secondary" style = "color:white" href={% url "gallery" %} > Go Back </a>
		{%if pics%}
		<a class="btn btn-dark btn-outline-secondary" style = "color:white" href='#picturecarousel' > Photo Album </a>
		{%endif%}
		<a class="btn btn-dark btn-outline-secondary" style = "color:white" href='#gpxmap' > Map </a>
	</div>
	<br>
	<div class="text-left p-small" >
		<p>{{adv.description|linebreaks}}</p>

	</div>
	
		
		<br><br>
<!--Carousel -->
	{% if pics %}
		<div class="card mx-auto bg-dark" style="width:100%">
			<div id="picturecarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
				<div class="carousel-inner">
					<div class="carousel-item active">						
						<img src="{{firstpic.picture.url}}" class="d-block w-100 img-responsive img-shrink-700" alt="{{firstpic.picture_desc}}">
					</div>

				{% for entry in pics %}	
					{% if forloop.first %}
						<!--continue-->
					{% else %}	   
				    <div class="carousel-item">
					      <img src="{{entry.picture.url}}" class="d-block w-100 img-responsive img-shrink-700" alt="{{entry.picture_desc}}">
					</div>
					{% endif %}
				{% endfor %}

				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#picturecarousel"  data-bs-slide="prev">
			    	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    	<span class="visually-hidden">Previous</span>
			  	</button>
			  	<button class="carousel-control-next" type="button" data-bs-target="#picturecarousel"  data-bs-slide="next">
			    	<span class="carousel-control-next-icon" aria-hidden="true"></span>
			    	<span class="visually-hidden">Next</span>
			 	</button>
			</div>
	
		</div>
		{% endif %}
<br><br>

<!-- Map CHECK WHEN ONLINE IF IT WORKS< STYLIZE AFTERWARD-->
	{% if adv.gpstrax %}

		<div class="text-center" id='gpxmap'>
			<a href="{{adv.gpstrax.url}}" download="{{adv.name}}">
				<button type="button"> Download GPS Track </button>
			</a>
			<br><br>
		</div>
		
		<div class="d-flex justify-content-center">

			<iframe src = "{% url 'map' adv.id %}" width="100%" height="600" style="border:1px solid black;"></iframe>
		</div>
	{% endif %}
</div>

	{% endif %}
{% endblock content %}
<!-- figure out scaling for adv.name on carousel title screen svg preserveaspectratio viewbox confusion-->

