{% extends "main.html" %}

{% block content %}
{% if adv %}
	<div class = "container py-5">
<!--Carousel -->
		<div class="card mx-auto bg-dark" style="width:100%">
			<div id="picturecarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
				<div class="carousel-inner">
					<div class="carousel-item active">						
						<svg width= "400px" height="216.5px" viewBox="0 0 100 700"preserveAspectRatio="xMidYMid meet" class="img-fluid w-100">
							<text x="50%" y="50%" fill="#a6a6a6" dy=".3em" font-size="100" text-anchor="middle">{{adv.name}}</text>
						</svg>		
					</div>

				{% for entry in pics %}		   
				    <div class="carousel-item">
					      <img src="{{entry.picture.url}}" class="d-block w-100 img-responsive img-shrink-700" alt="{{entry.picture_desc}}">
					</div>
				{% endfor %}

				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#picturecarousel"  data-bs-slide="prev">
			    	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    	<span class="visually-hidden">Previous</span>
			  	</button>
			  	<button class="carousel-control-next" type="button" data-bs-target="#picturecarousel"  data-bs-slide="next">
			    	<span class="carousel-control-next-icon" aria-hidden="true"></span>
			    	<span class="visually-hidden">Next</span>
			 	</button>
			</div>
	
		</div>

<!--Written Content -->
	<br><br>
	<div class="d-flex justify-content-center">
		<h1>{{adv.name}}</h1>
	</div>
	<div class="d-flex justify-content-left p-small" >
		<p>{{adv.description}}</p>

	</div>

<!-- Map CHECK WHEN ONLINE IF IT WORKS< STYLIZE AFTERWARD-->
	{% if adv.gpstrax %}

		<div class="d-flex justify-content-center">
			<a href="{{adv.gpstrax.url}}" download="{{adv.name}}">
				<button type="button"> Download GPS Track </button>
			</a>
		</div>
		<br>
		<div class="d-flex justify-content-center">
			<iframe src = "{% url 'map' adv.id %}" width="1400" height="600" style="border:1px solid black;"></iframe>
		</div>
	{% endif %}
</div>

	{% endif %}
{% endblock content %}
<!-- figure out scaling for adv.name on carousel title screen svg preserveaspectratio viewbox confusion-->

