{% extends "main.html" %}

{% block content %}
{% if latest_guestbook %}
    <div class="container py-5">
        
            <h1 class="d-flex justify-content-center">Welcome to the Guestbook!</h1>
            <br>
        <div class="d-flex justify-content-center">
            <p class=" p-small"> Haven't signed yet? &nbsp;</p>
            <span><a class="btn btn-primary" href={% url 'guestbook_entry' %}> Click Here! </a></span>
        </div>
        <br><br>
        <div class="table-responsive-xl">
            <table class="table table-hover align-middle">
            	<thead>
                    <tr> 
                		<th class="col-1"> Date </th>
                		<th class="col-2"> Name </th>
                		<th class="col-2"> Favourite Pokemon </th>
                		<th class="col-3"> Favourite Joke </th>
                		<th class="col-3"> I wanted to say... </th>
                		<th class="col-1"> Picture </th>
                	</tr>
                </thead>
            	{% for entry in latest_guestbook %}
            		<tbody>
                        <!--<tr data-toggle="modal" data-id = "{{entry.id}}" data-target="#imgModal">-->
                        <tr>
            	        	<td> {{ entry.entry_date }} </td>
            	        	<td> {{ entry.entry_name }} </td>
            	        	<td> {{ entry.entry_fav_pkmn }} </td>
            	        	<td> {{ entry.entry_fav_joke }} </td>
            	        	<td> {{ entry.entry_blurb }} </td>
            	        	{% if entry.entry_picture %}
            	        		<td> <img id = "{{entry.entry_name}}click" class="img-shrink-100" src = "{{ entry.entry_picture.url }}"  > </td>
                            {% endif %}

            	        </tr>
                    </tbody>
            	{% endfor %}
            </table>

            <!--Modal Code -->
            <div id="imgModal" class="modal">

              <!-- The Close Button -->
              <span class="close">&times;</span>

              <!-- Modal Content (The Image) -->
              <img class="modal-content img-shrink-250" id="gImg" src="{{ entry.entry_picture.url }}">

              <!-- Modal Caption (Image Text) -->
              <div id="caption">slkfjsldkj</div>
            </div>
            <!-- add to element data-toggle="modal" data-target="#rowModal"-->

<script>

/*
       $(function(){
    $('#imgModal').modal({
        keyboard: true,
        backdrop: "static",
        show:false,

    }).on('show', function(){ //subscribe to show method
          var getIdFromRow = $(event.target).closest('tr').data('id'); //get the id from tr
        //make your ajax call populate items or what even you need
        $(this).find('#gImg').html($('<b> Order Id selected: ' + getIdFromRow  + '</b>'))
    });
});
*/
// Get the modal
var modal = document.getElementById("imgModal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById("{{entry.entry_name}}click");
var modalImg = document.getElementById("gImg");
var captionText = document.getElementById("caption");
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}; 
</script>
        <!--Modal code ends -->
        </div>
    </div>

{% else %}
    <div class="container py-5">
    
        <h1 class="d-flex justify-content-center">Welcome to the Guestbook!</h1>
        <br>
    <div class="d-flex justify-content-center">
        <p class=" p-small"> Haven't signed yet? &nbsp;</p>
        <span><a class="btn btn-primary" href={% url 'guestbook_entry' %}> Click Here! </a></span>
    </div>
    <br><br>
    <p class="d-flex justify-content-center p-small">No Entries yet!</p>
{% endif %}

{% endblock content %}

<!--can't get table to be responsive >:[ -->