{% extends "main.html" %}

{% block content %}
{% if latest_guestbook %}
    <div class="container py-5">
        
            <h1 class="d-flex justify-content-center">Welcome to the Guestbook!</h1>
            <br>
        <div class="d-flex justify-content-center">
            <p class=" p-small"> Haven't signed yet? &nbsp;</p>
            <span><a class="btn btn-dark" href={% url 'guestbook_entry' %}> Click Here! </a></span>
        </div>
        <br><br>
        <div class="table-responsive-xl">
            <table class="table table-hover align-middle">
            	<thead>
                    <tr> 
                		<th class="col-2"> Date </th>
                		<th class="col-2"> Name </th>
                		<th class="col-2"> Favourite Pokemon </th>
                		<th class="col-3"> Favourite Joke </th>
                		<th class="col-3"> I wanted to say... </th>
                	</tr>
                </thead>
            	{% for entry in latest_guestbook %}
            		<tbody>
                        <tr>
            	        	<td> {{ entry.entry_date }} </td>
            	        	<td> {{ entry.entry_name }} </td>
            	        	<td> {{ entry.entry_fav_pkmn }} </td>
            	        	<td> {{ entry.entry_fav_joke }} </td>
            	        	<td> {{ entry.entry_blurb }} </td>
                            

            	        </tr>
                    </tbody>
            	{% endfor %}
            </table>
        </div>
    </div>

{% else %}
    <div class="container py-5">
    
        <h1 class="d-flex justify-content-center">Welcome to the Guestbook!</h1>
        <br>
    <div class="d-flex justify-content-center">
        <p class=" p-small"> Haven't signed yet? &nbsp;</p>
        <span><a class="btn btn-primary" href={% url 'guestbook_entry' %}> Click Here! </a></span>
    </div>
    <br><br>
    <p class="d-flex justify-content-center p-small">No Entries yet!</p>
{% endif %}

{% endblock content %}

