
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.img-shrink-100 {
  object-fit: contain; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 100px;
}
.img-shrink-250 {
  object-fit: contain; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 250px;
}
.img-shrink-700 {
  object-fit: contain; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 700px;
}

.p-small {
  font-size: 25px;
}

.p {
  /* pick a font for all of the paragraphs */

}

.navbar-nav.navbar-center { 
  margin: auto;
        } 

.link-color{
  color: #FFF !important;
}
.link-color:hover {
  background-color : #999999;
  color : white !important;
}
.form-center {
  text-align: center;
}
.form-oneline{
  display: inline-block;
}
